.spaceship-image {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 10px auto; // zorgt voor centrering horizontaal en wat ruimte erboven
  border: 1px solid #ccc;
  border-radius: 8px;
}
